
/**********************************/
/***  Hiding stuff             ***/
/********************************/

.promptbird,		/* Have you tried a latte with your last tweet? GO AWAY, TWITTER. */
.wtf-module,		/* WTF = Who To Follow | yeah, we don't need that */
.trends,			/* Hides trending topics, improves your health */
.site-footer,		/* Footer links, not useful for 99% of us */
.profile-summary,	/* Your beautiful avatar and name. You may want to remember them yourself. */
.js-mini-profile-stats-container, /* stats */
.topics, 			/* The #discover link at top */
.js-media-container /* Image previews in the TL */
{
    display: none !important;
}

.profile-summary {
	display: none !important;
}

/**********************************/
/***  Profile hider style fix  ***/
/********************************/

.module.mini-profile {
	margin-bottom: 0;
}

.js-mini-profile-stats-container {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
}

.dashboard .stats {
	background: none !important;
	border-top: none;
}

.stats a {
	padding-bottom: 2px !important;
}

/**********************************/
/***  Stats hider style fix    ***/
/********************************/

.tweet-user {
	border-radius: 5px !important;
}

/**********************************/
/***  Compose on top           ***/
/********************************/

.tweet-form .tweet-box.rich-editor {
	height: 40px !important;
	width: -webkit-calc(100% - 16px) !important;
	-webkit-transition: all 0.3s ease;
}

.tweet-form.condensed .tweet-box.rich-editor {
	height: 18px !important;
}

.component.tweet-box .tweet-counter {
	color: #D6D6D6;
	text-shadow: 0 1px 1px black;
}

.component.tweet-box .tweet-counter.warn, .user_description_count.warn {
	color: #E99E18;
}

.component.tweet-box .tweet-counter.superwarn, .user_description_count.superwarn {
	color: #FF454A;
	font-weight: bold;
}

.component.tweet-box {
	/*background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.2));*/
	background-color: rgba(32,32,32,0.9);
	border-radius: 0px 0px 4px 4px !important;
	box-shadow: 0 2px 3px rgba(0,0,0,.25);
	margin: -15px -20px 10px -19px;
	padding: 12px 18px 12px 15px;
	position: fixed;
	width: 842px;
	z-index: 1;
}

.dashboard, .content-main {
	margin-top: 54px;
}

.module.mini-profile { /* This may be related to the profile hider as well */
	border: none;
}

/**********************************/
/***  Dark compose background  ***/
/********************************/

.component.tweet-box .tweet-box.rich-editor {
	background-color: #262628;
	border: 1px solid black;
	color: #CFCFCF;
}

.component.tweet-box .tweet-box.rich-editor:focus {
	color: #EFEFEF;
}

.component.tweet-box .rich-editor em {
	background-color: #850808;
}

/**********************************/
/***  We need to go wider      ***/
/********************************/

.wrapper {
    width: auto;
}

#page-container { /* avoids centering the main content */
	margin: 0 36px;
}

/* Slightly wider content */
.content-main {
	/*float: left;*/
	margin-left: 12px;
	width: 630px;
}

.inline-reply-tweetbox.swift .tweet-box {
	width: 526px;
}

 /* Navigation bar (top) defacing */
 .global-nav-inner .container {
	margin: 0;
}
    
#global-actions {
	margin-left: 80px;
}

#global-actions .profile.new {
	margin-left: 8px;
}

.bird-topbar-etched {
	left: 38px;
}


/**********************************/
/***  Better compose button    ***/
/********************************/

/*
#global-new-tweet-button {
	display: none !important;
}*/

#global-new-tweet-button {
	color: white;
    content: "Compose";
    height: 26px;
	padding-left: 32px;
    width: 102px;
}

#global-new-tweet-button i {
	content: "";
	display: block;
	height: 18px;
	left: -20px;
    position: relative;
    top: -1px;
	width: 24px;
}

#global-new-tweet-button i:after {
	content: "Compose";
	margin-top: 2px;
	padding-left: 22px;
}

/**********************************/
/***  Live button (stream)     ***/
/********************************/
#twithingy-live-button {
	background-color: #993333;
	border-color: #111111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
	color: #CCCCCC;
	font-weight: bold;
	font-size: 0.8em;
	height: 24px;
	padding: 2px 6px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	top: 7px;
}

#twithingy-live-button:hover {
	color: white;
}

/**********************************/
/***  Better hashtags          ***/
/********************************/

/* It's annoying, disabling it for a while
.twitter-hashtag {
	background-color: rgba(255,180,0,0.3);
	border-radius: 2px;
	padding: 1px 2px;
}
.twitter-hashtag b, .twitter-hashtag s {
	color: rgb(184, 143, 15) !important;
}
*/

/**********************************/
/***  JavaScript helpers       ***/
/********************************/

.new-tweets-bar {
	display: block;
	height: 0px !important;
	opacity: 0.01;
}